<html>
   <head>
   </head>
   <body>
      <div id="container">
      </div>
         <script type = "text/javascript">
            var mouse_clicked = false;
            var block_fill = false;
            var block_fill_press = false;
            var data = {{data_from_flask|safe}};

            function saveFunct() {
               var xml = new XMLHttpRequest();
               var location = window.location.pathname;
               xml.open('POST', "/save"+location);
               xml.send(data);
            }

            function createTable(data) {
               var container = document.getElementById('container');
               var table = document.createElement('table');
               table.style.borderSpacing = '0px';
               var row, tile;

               for (var r in data) {
                  row = document.createElement('tr');
                  for (var t in data[r]) {
                     tile = document.createElement('td');
                     tile.style.border = "1px solid black";
                     tile.style.padding = "0px";
                     tile.style.height = "15px";
                     tile.style.width = "15px";
                     tile.setAttribute('r', r);
                     tile.setAttribute('t', t);
                     tile.title = t+", "+r;
                     tile.id = "r"+r+"t"+t;

                     if (data[r][t] === 'true') {
                        tile.style.backgroundColor = 'white';
                     } else {
                        tile.style.backgroundColor = 'blue';
                     }

                     if (t < data[r].length - 1) {
                         tile.onmouseover = function() {
                            console.log(mouse_clicked);
                            var r = this.getAttribute("r");
                            var t = this.getAttribute("t");

                            if (mouse_clicked) {
                               var col = this.style.backgroundColor;
                               if (!block_fill) {
                                  console.log('click', r, t);
                                  if (col == 'white') {
                                     this.style.backgroundColor = 'blue';
                                     data[r][t] = '    ';
                                  } else {
                                     this.style.backgroundColor = 'white';
                                     data[r][t] = 'true';
                                  }
                              } else {
                                 if (col == 'white') {
                                    blockFill(r, t, 'white', 'blue');
                                 } else {
                                    blockFill(r, t, 'blue', 'white');
                                 }
                              }
                            }
                         };
                         tile.onclick = function(e) {
                            var r = this.getAttribute("r");
                            var t = this.getAttribute("t");
                            var col = this.style.backgroundColor;

                            if (!block_fill) {
                               console.log('click', r, t);
                               if (col == 'white') {
                                  this.style.backgroundColor = 'blue';
                                  data[r][t] = '    ';
                               } else {
                                  this.style.backgroundColor = 'white';
                                  data[r][t] = 'true';
                               }
                            } else {
                               if (col == 'white') {
                                  blockFill(r, t, 'white', 'blue');
                               } else {
                                  blockFill(r, t, 'blue', 'white');
                               }
                            }
                         }
                     }
                     row.appendChild(tile);
                  }
                  table.appendChild(row);
               }
               container.appendChild(table);

               var save = document.createElement('button');
               save.onclick = saveFunct;
               save.innerText = "Save";
               container.appendChild(save);
            }
            createTable(data);

            function blockFill(r, t, oldClr, newClr) {
               if (t == Object(data[r]).length - 1) {
                  return;
               }
               var el = document.getElementById("r"+r+"t"+t);
               try {
                  var col = el.style.backgroundColor;
               } catch {
                  return;
               }
               if (col !== oldClr) {
                  return;
               }
               el.style.backgroundColor = newClr;
               if (newClr === 'white') {
                  data[r][t] = 'true';
               } else {
                  data[r][t] = '    ';
               }

               blockFill(r+1, t, oldClr, newClr);
               blockFill(r-1, t, oldClr, newClr);
               blockFill(r, t+1, oldClr, newClr);
               blockFill(r, t-1, oldClr, newClr);
            }

            document.onmousedown = function(e) {
               mouse_clicked = true;
            };
            document.onmouseup = function(e) {
               mouse_clicked = false;
            };
            document.onkeydown = function(e) {
                if (e.keyCode === 66 && !block_fill_press) {
                    block_fill = !block_fill;
                    block_fill_press = true;
                    console.log("block_fill", block_fill);
                }
            };
            document.onkeyup = function(e) {
               block_fill_press = false;
            };
         </script>
   </body>
</html>
